.background-eleven-online {
    position: relative;
    margin-bottom: 20px;
    padding: 20px;
    z-index: 1;
}

.img-background-background-eleven-online {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;   
    z-index: -1; 
}