.call-to-action-2 {
    position: relative;
    margin-bottom: 30px;
    padding: 20px;
    z-index: 1;
}

.img-background {
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;   
    position: absolute;
    z-index: -1; 
}

.btn-wrapper {
    margin-top: 20px;
}

div[class^="custom-button-"] {
    display: inline-block;
}

.custom-button-2,
.custom-button-3 {
    margin-left: 15px;
}