/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.checkerboard-image  {
	align-items: center;
	justify-content: center;
	display: flex;
	.components-button {
		background: white;
		color: black;
		border: 1px solid black;
		&:hover {
			background: black;
			color: white;
			border: 1px solid white;
		}
	}
}
