.mycard-eleven-online-img {
    position: relative;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
    padding-bottom: 30%;
}

.wrapper-eleven-online {
    padding: 15px;
    margin: 0;
}

.btn-mycard-eleven-online {
    padding: 10px 0px;
}

.wrapper-btn-custom-eleven-online {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-custom-eleven-online {
    border: none !important;
    outline: none !important;
    background: none !important;
    box-shadow: none !important;
}

.btn-custom-eleven-online:hover {
    outline: 1px solid black !important;
}