.my-paragraph {
    display: inline-block;
    background-color: aqua;
    border: 2px solid rgba(232, 8, 41, 0.365);
    margin: 10px;
}

.buttons-wrapper-my-paragraph-eleven-online {
    display: flex; 
    justify-content: flex-end; 
}