.call-to-action {
    position: relative;
    margin-bottom: 30px;
    z-index: 1;
}

.img-background {
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;   
    position: absolute;
    z-index: -1; 
}