.main-wrapper-eleven-online {
    padding: 10px;
    background-color: aquamarine;
    z-index: -1;
}

.mycard-eleven-online-img {
    // position: relative;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
    padding-bottom: 60%;
}

.wrapper-eleven-online {
    border: 2px solid rgba(232, 8, 41, 0.365);
    padding: 15px;
    margin: 0;
}

.btn-mycard-eleven-online {
    padding: 10px 0px;
}

.card-wrapper-eleven-online {
    padding: 0;
}