.card-eleven-online {
    box-shadow: 5px 5px 9px 0 rgba(0, 0, 0, 0.4);
    margin: 5px;
}

.mycard-eleven-online-img {
    // position: relative;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
    padding-bottom: 70%;
}

.wrapper-eleven-online {
    padding: 10px;
    margin: 0;
}

.btn-mycard-eleven-online {
    padding: 10px 0px;
}

.card-wrapper-eleven-online {
    padding: 0;
}